
<script>
    window.sfErrorHandler = function(link) {
        var iframe = document.createElement("iframe");
        iframe.classList = 'sfErrorIframe';
        iframe.src = link+'?panel=exception';
        document.body.appendChild(iframe);
        var close = document.createElement("div");
        close.classList = 'sfErrorIframeClose';
        close.innerText = 'X';
        close.addEventListener('click', function() {
            document.body.removeChild(iframe);
            document.body.removeChild(close);
        });
        document.body.appendChild(close);
    };
    window.enableRequestTracker = true;
</script>
<style>
    .sfErrorIframe {
        position: fixed;
        left: 5%;
        top: 5%;
        width: 90%;
        height: 90%;
        z-index: 9999;
    }
    .sfErrorIframeClose {
        position: fixed;
        right: 5%;
        top: 5%;
        width: 30px;
        height: 30px;
        color: #fff;
        background-color: #000;
        cursor: pointer;
        z-index: 99999;
        font-size: 22px;
        text-align: center;
    }
</style>
