<template>
    <ux-dialog class="overlay-dev">
        <ux-dialog-header class="${options.headerClass}">
            <h4 class="modal-title">
                <i class="fa fa-skull-crossbones"></i>
                Achtung! Enwicklermodus Aktion!
            </h4>
        </ux-dialog-header>

        <ux-dialog-body>
            Folgende Enwicklermodus Aktion sicher ausführen?<br>
            <b>${message}</b>
        </ux-dialog-body>

        <ux-dialog-footer>
            <button type="button" class="btn btn-secondary dialog-footer-btn" click.trigger="controller.cancel()"
                    t="dialog.button.no"></button>
            <button type="button" class="btn btn-primary dialog-footer-btn" click.trigger="controller.ok()"
                    t="dialog.button.yes"></button>
        </ux-dialog-footer>
    </ux-dialog>
</template>
