<template>
    <div class="form-control form-control-color" css="background-color: ${value}">
        <input type="text" value.bind="text" id.bind="id" blur.trigger="textUnfocused()" maxlength="7">
        <input type="color" value.bind="value">
    </div>
</template>
