<template>
    <div class="alert ${toast.alert_class}" repeat.for="toast of toaster.toasts">
        <button class="close" click.trigger="close(toast)"><i class="fa fa-times"></i></button>
        <strong>${toast.title}</strong>
        <p>${toast.message}</p>
        <button type="button" class="btn btn-${button.type ? button.type : 'secondary'}" repeat.for="button of toast.buttons" click.delegate="buttonClicked(toast, button)">
            <i class="fa fa-fw ${button.icon}" if.bind="button.icon"></i>
            <span t.bind="button.label"></span>
        </button>
    </div>
</template>
