<template>
    <div ref="dropdown.container" class="dropdown d-inline-block">
        <div click.trigger="dropdown.toggle()" class="d-inline-block">
            <slot name="button" click.trigger="dropdown.toggle()"></slot>
        </div>
        <slot name="dropdown">
            <div class.bind="menuClass" ref="dropdown.menu">
                <slot name="menu"></slot>
            </div>
        </slot>
    </div>
</template>
