@import "~bootstrap/scss/variables";

.request-tracker {
    display: none;
}

@include media-breakpoint-up(lg) {
    .request-tracker {
        position: fixed;
        bottom: 2rem;
        left: 0;
        height: 200px;
        z-index: 10;

        .code {
            padding: 0.25rem 0.1rem;
            &.code-200 {
                background-color: $success;
            }

            &.code-300 {
                background-color: $warning;
            }

            &.code-400 {
                background-color: $danger;
            }

            &.code-500 {
                background-color: $danger;
            }
        }
    }

    //.request-tracker {
    //    display: block;
    //    position: fixed;
    //    left: -($sidebar-width - 90px);
    //    bottom: 20px;
    //    width: $sidebar-width;
    //    overflow-y: auto;
    //    overflow-x: hidden;
    //    opacity: .5;
    //    background-color: #1e282d;
    //    height: 167px;
    //    color: #fff;
    //    font-size: 9px;
    //    padding: 10px;
    //    z-index: 10;
    //    transition: all ease 0.3s;
    //    border-radius: 5px;
    //    &:hover {
    //        opacity: 1;
    //        left: 0;
    //    }
    //    > div {
    //        cursor: pointer;
    //
    //        &:hover {
    //            background-color: #23556f;
    //        }
    //    }
    //    .code {
    //        border-radius: 5px;
    //        text-align: center;
    //        &.code-200 {
    //            background-color: green;
    //        }
    //        &.code-300 {
    //            background-color: yellow;
    //        }
    //        &.code-400 {
    //            background-color: #b30000;
    //        }
    //        &.code-500 {
    //            background-color: red;
    //        }
    //    }
    //}
}
