/**
 * Style aurelia dialogs to use the normal bootstrap design.
 *
 * Must be included AFTER bootstrap and AFTER fontawesome!
 */

//
// Dialogs
//
body.ux-dialog-open {
    @extend .modal-open;

    ux-dialog-container {
        display: block;
    }
}

ux-dialog-container {
    @extend .modal;

    &.active > div {
        transform: translate(0, 0);
    }

    > div {
        @include transition($modal-transition);
        @extend .modal-dialog;
        transform: translate(0, -25%);
        max-width: none;
    }
}

ux-dialog-overlay {
    @extend .modal-backdrop;
    @extend .modal-backdrop, .fade;
    @extend .fade;

    &.active {
        @extend .modal-backdrop, .show;
    }
}

ux-dialog {
    @extend .modal-content;

    width:     -webkit-fit-content;
    width:     -moz-fit-content;
    width:     fit-content;
    margin:    0 auto;

    min-width: 30vw;

    &.ux-dialog-wide {
        width: 50vw;
    }

    &.ux-dialog-narrow {
        width: 30vw;
    }
}

ux-dialog-header {
    @extend .modal-header;

    .dialog-close {
        @extend button, .close;
        order:     1;
        // hide &times; as defined by aurelia-dialog
        font-size: 0;

        &:before {
            // show font awesome icon as close button
            @extend .fa-fw;
            @extend .fa;
            content:   $fa-var-times;
            font-size: 1rem;
        }
    }
}

ux-dialog-body {
    @extend .modal-body;
    display: block;
}

ux-dialog-footer {
    @extend .modal-footer;
}

.modal-header-danger {
    background-color: $danger;
    color:            #fff;
}
