// font awesome 4 naming, overwrite this when using fa5
$table-sort-asc-icon: $fa-var-sort-asc !default;
$table-sort-desc-icon: $fa-var-sort-desc !default;
$table-sort-font-family: $font-family-base, FontAwesome !default;
//
// Tables
//
.table {
    th {

        &.sortable {
            cursor: pointer;
            font-family: $table-sort-font-family;

            &:before {
                content: $fa-var-sort;
            }

            &.sort-asc:before {
                font-family: $table-sort-font-family;
                content: $table-sort-asc-icon;
                display: inline-block;
            }

            &.sort-desc:before {
                font-family: $table-sort-font-family;
                content: $table-sort-desc-icon;
                display: inline-block;
            }
        }
    }
}

.pager {
    display: flex;
    flex-direction: row;
}

@include media-breakpoint-down(lg) {
    .list-actions {
        display: none;
    }

    .pager {
        flex-direction: column;
    }

    .pager-entries-per-page {
        display: none;
    }
}
