<template>
    <button type="button" class="btn btn-secondary btn-sm"
            disabled.bind="item.canBeMovedUp"
            click.trigger="item.move('up')">
        <i class="fa fa-fw fa-chevron-up"></i>
    </button>
    <button type="button" class="btn btn-secondary btn-sm"
            disabled.bind="item.canBeMovedDown"
            click.trigger="item.move('down')">
        <i class="fa fa-fw fa-chevron-down"></i>
    </button>
    <button type="button" class="btn btn-danger btn-sm"
            click.trigger="item.remove()">
        <span t="common:collection.delete"></span> <i class="fa fa-fw fa-trash"></i>
    </button>
</template>
