<template>
    <button type="button" class="btn btn-sm btn-info"
            click.trigger="item.toggle()">
        <i class="fa fa-fw fa-${item.collapsed ? 'plus' : 'minus'}"></i>
    </button>
</template>
