<template>
    <button type="button" class="btn btn-warning" click.trigger="generate()">
        <i class="fa fa-fw fa-cogs"></i>
        <span t="common:elements.password.generate_random_password"></span>
    </button>
</template>
