<template>
    <div class="password-valuation">
        <div class="password-very-weak ${strength >= 0 ? 'active':''}"></div>
        <div class="password-weak ${strength >= 1 ? 'active' : ''}"></div>
        <div class="password-medium ${strength >= 2 ? 'active' : ''}"></div>
        <div class="password-good ${strength >= 3 ? 'active' : ''}"></div>
        <div class="password-strong ${strength >= 4 ? 'active' : ''}"></div>
        <div class="password-very-strong ${strength >= 5 ? 'active' : ''}"></div>
    </div>
    <div class="text-muted">
        <span if.bind="strength === 0" class="text-danger" t="common:elements.password.valuation.str-0"></span>
        <span if.bind="strength === 1" class="text-danger" t="common:elements.password.valuation.str-1"></span>
        <span if.bind="strength === 2" class="text-warning" t="common:elements.password.valuation.str-2"></span>
        <span if.bind="strength === 3" class="text-success" t="common:elements.password.valuation.str-3"></span>
        <span if.bind="strength === 4" class="text-success" t="common:elements.password.valuation.str-4"></span>
        <span if.bind="strength === 5" class="text-success" t="common:elements.password.valuation.str-5"></span>
    </div>
</template>
