{% use "bootstrap_4_layout.html.twig" %}

{%- block form_widget_compound -%}
    <div {{ block('widget_container_attributes') }} ref="formChildForms.{{ form_element_name(form) }}">
        {%- if form is rootform -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound -%}

{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <{{ element|default('div') }}{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group')|trim})} %}{{ block('attributes') }}{% endwith %}>
    {{- form_label(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_errors(form) -}}
    {{- form_help(form) -}}
    </{{ element|default('div') }}>
{%- endblock form_row %}
{%- block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% endif %}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} invalid.trigger="elementInvalid('{{ form_element_name(form) }}', $event)"
        {% if type == 'file' -%}
            files.bind="formFiles['{{ form_flat_element_name(form) }}']"
        {%- else -%}
            value.bind="formValues.{{ form_element_name(form) }}"
        {%- endif %}
           ref="formFields.{{ form_element_name(form) }}"/>
{%- endblock form_widget_simple -%}

{%- block checkbox_widget_x -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% else %} value="1"{% endif %} checked.bind="formValues.{{ form_element_name(form) }}"
           ref="formFields.{{ form_element_name(form) }}"  invalid.trigger="elementInvalid('{{ form_element_name(form) }}', $event)"/>
{%- endblock checkbox_widget_x -%}

{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {% if 'checkbox-inline' in parent_label_class %}
        {{- form_label(form, null, { widget: block('checkbox_widget_x') }) -}}
    {% else -%}
        <div class="checkbox">
            {{- form_label(form, null, { widget: block('checkbox_widget_x') }) -}}
            {{ block('form_errors') }}
        </div>
    {%- endif %}
{%- endblock checkbox_widget %}
{% block form_errors -%}
    {% set _formElementName = form_element_name(form, true) %}
    <div class="alert alert-danger" role="alert"
         show.bind="formError && formError.children.{{ _formElementName }} && formError.children.{{ _formElementName }}.errors && formError.children.{{ _formElementName }}.errors.length > 0">
        <div repeat.for="error of formError.children.{{ _formElementName}}.errors">
            ${error}
        </div>
    </div>
{%- endblock form_errors %}

{%- block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    <textarea {{ block('widget_attributes') }} value.bind="formValues.{{ form_element_name(form) }}"
                                               ref="formFields.{{ form_element_name(form) }}"
                                               invalid.trigger="elementInvalid('{{ form_element_name(form) }}', $event)"></textarea>
    {{ block('form_errors') }}
{%- endblock textarea_widget -%}

{%- block choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            {% set choice_attr = choice.attr %}
            {% if choice_translation_domain is same as(true) %}
                {% set choice_attr = choice_attr|merge({"t": choice.label}) %}
            {% endif %}
            <option model.bind="{{ choice.value matches '/^\\d+$/' ? choice.value : "'" ~ choice.value ~ "'" }}"
                {% if choice_attr %}{% with { attr: choice_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}
                {% if choice is selectedchoice(value) %} selected="selected"{% endif %}
            >
                {{ choice.label }}
            </option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options -%}

{%- block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control' ~ (not multiple ? ' custom-select' : ''))|trim}) %}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}
            value.bind="formValues.{{ form_element_name(form) }}" ref="formFields.{{ form_element_name(form) }}"  invalid.trigger="elementInvalid('{{ form_element_name(form) }}', $event)">
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- if aureliatype is defined and aureliatype -%}
            <option repeat.for="option of formSelects.{{ id }}" model.bind="option.value">
                ${option.label}
            </option>
        {%- else -%}
            {%- set options = choices -%}
            {{- block('choice_widget_options') -}}
        {%- endif -%}
    </select>
    {{ block('form_errors') }}
    {{ block('symfaurelia_load_marker') }}
{%- endblock choice_widget_collapsed -%}

{% block choice_widget_expanded -%}
    {%- if aureliatype is defined and aureliatype -%}
        {%- if '-inline' in label_attr.class|default('') -%}
            <div {{ block('widget_container_attributes') }}>
        {%- endif -%}
            <div id="{{ id }}" data-define.bind="defineExpandedSelect('{{ form_element_name(form) }}')">
                <div class="checkbox" repeat.for="option of formSelects.{{ id }}">
                    {%- set choice_attr = choice_attr|default({})|merge({class: (choice_attr.class|default('') ~ ' form-check-label')|trim}) -%}
                    <label{% for attrname, attrvalue in choice_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                        <input
                            type="checkbox"
                            value.bind="option.value"
                            checked.bind="formValues.{{ form_element_name(form) }}['__i' + option.value]"
                            ref="formFields.{{ form_element_name(form) }}['__i' + option.value]"
                            data-label="${option.label}"
                            invalid.trigger="elementInvalid('{{ form_element_name(form) }}', $event)"
                            {% for attrname, attrvalue in choice_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}
                        /> ${option.label}

                        {%- set label_suffix_block = "_" ~ form.vars.id ~ "_label_suffix" -%}
                        {%- if block(label_suffix_block) is defined -%}
                            {{ block("_" ~ form.vars.id ~ "_label_suffix") }}
                        {%- endif -%}
                    </label>
                </div>
            </div>

            {{ block('form_errors') }}
            {{ block('symfaurelia_load_marker') }}
        {%- if '-inline' in label_attr.class|default('') -%}
            </div>
        {%- endif -%}
    {%- else -%}
            {{ parent() }}
    {%- endif -%}
{%- endblock choice_widget_expanded %}

{% block symfaurelia_load_marker %}
    {%- if aureliatype is defined and aureliatype -%}
        {% if app.environment == 'dev' %}
            <div if.bind="formSelects.{{ id }} === undefined">this.formSelects.{{ id }} is undefined!</div>
        {% endif %}
        <span ref="loadSelectMarker" hidden></span>
    {%- endif -%}
{% endblock symfaurelia_load_marker %}

{%- block form_label-%}
    {% if label %}
        {% set label_attr = label_attr|merge({"t": label}) %}
    {% endif %}
    {{ parent() }}
{%- endblock -%}

{% block checkbox_radio_label -%}
    {# Copied from parent layout with minor modification (wrapping label text in <span t="">) #}
    {#- Do not display the label if widget is not defined in order to prevent double label rendering -#}
    {%- if widget is defined -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' form-check-label')|trim}) -%}
        {%- if required -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) -%}
        {%- endif -%}
        {%- if parent_label_class is defined -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) -%}
        {%- endif -%}
        {%- if label is not same as(false) and label is empty -%}
            {%- if label_format is not empty -%}
                {%- set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) -%}
            {%- else -%}
                {%- set label = name|humanize -%}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{- widget|raw }}
            <span{% if label %} t="{{ label }}"{% endif %}>{{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) -}}</span>
        </label>
    {%- endif -%}
{% endblock %}

{% block file_widget -%}
    <div class="form-group">
    <{{ element|default('div') }} class="custom-file">
    {%- set type = type|default('file') -%}
    {{- block('form_widget_simple') -}}
    <label for="{{ form.vars.id }}" class="custom-file-label">
        ${formFiles.{{ form_element_name(form)}} [0].name}
        {%- if attr.placeholder is defined -%}
            {{- translation_domain is same as(false) ? attr.placeholder : attr.placeholder|trans({}, translation_domain) -}}
        {%- endif -%}
    </label>
    </{{ element|default('div') }}>
    </div>
{% endblock %}
