<template>
    <ux-dialog style="width: 50vw;">
        <form submit.trigger="save()">
                <ux-dialog-header>
                    <h4 class="modal-title">
                        <i class="fa fa-fw fa-${icon}" if.bind="icon"></i>
                        ${title}
                    </h4>
                </ux-dialog-header>

                <ux-dialog-body>
                    <div class="form-group px-3">
                        <label for="dialogInput" class="mb-3">
                            ${message}
                        </label>
                        <input type="file" class="form-control" id="dialogInput" accept.bind="accept" multiple.bind="multiple" ref="fileInput" />
                    </div>
                </ux-dialog-body>

                <ux-dialog-footer>
                    <button type="button" class="btn btn-secondary" if.bind="cancellable" t="dialog.button.cancel" click.trigger="controller.cancel()"></button>
                    <button type="submit" class="btn btn-primary dialog-footer-btn" t="dialog.button.ok"></button>
                </ux-dialog-footer>
        </form>
    </ux-dialog>
</template>
