<template>
    <ux-dialog class="${options.dialogClass}">
        <ux-dialog-header class="${options.headerClass}">
            <h4 class="modal-title">
                <i class="fa fa-fw fa-${options.icon}" if.bind="icon"></i>
                ${options.title}
            </h4>
        </ux-dialog-header>
        <ux-dialog-body>
            <div class="pb-3" if.bind="typeof options.message === 'string'">
                <span if.bind="!options.translate">${options.message}</span>
                <span if.bind="options.translate" t.bind="options.message"></span>
            </div>
            <div innerhtml.bind="options.message.outerHTML" if.bind="typeof options.message === 'object' && options.message.outerHTML"></div>
        </ux-dialog-body>
        <ux-dialog-footer if.bind="options.buttons">
            <button repeat.for="button of options.buttons" click.trigger="buttonClicked(button)" class.bind="button.class || 'btn btn-secondary'">
                <i class.bind="button.icon" if.bind="button.icon"></i>
                <span if.bind="button.translate" t.bind="button.label"></span>
                <span if.bind="!button.translate">${button.label}</span>
            </button>
        </ux-dialog-footer>
    </ux-dialog>
</template>
