<template>

    <ux-dialog>
        <ux-dialog-body>
            <div class="text-center pb-3" if.bind="typeof options.message === 'string'">
                <span if.bind="!options.translate">${options.message}</span>
                <span if.bind="options.translate" t.bind="options.message"></span>
            </div>
            <div innerhtml.bind="options.message.outerHTML"
                 if.bind="typeof options.message === 'object' && options.message.outerHTML"></div>
            <textarea
                class="form-control"
                placeholder.bind="(typeof options.placeholder === 'string' ? options.placeholder : '')|t"
                value.bind="text"
                if.bind="inputType === 'textarea'"
            ></textarea>
            <input type.bind="inputType"
                   class="form-control"
                   placeholder.bind="(typeof options.placeholder === 'string' ? options.placeholder : '')|t"
                   value.bind="text"
                   if.bind="inputType !== 'textarea'"
            >
            <div class="pt-2" if.bind="typeof options.bottomText === 'string'">
                <span if.bind="!options.translate" class="pre-line">${options.bottomText}</span>
                <span if.bind="options.translate" t.bind="options.bottomText" class="pre-line"></span>
            </div>
        </ux-dialog-body>
        <ux-dialog-footer if.bind="options.buttons" class="mt-3">
            <button repeat.for="button of options.buttons" click.trigger="buttonClicked(button)"
                    class.bind="button.class || 'btn btn-secondary'">
                <i class.bind="button.icon" if.bind="button.icon"></i>
                <span if.bind="button.translate" t.bind="button.label"></span>
                <span if.bind="!button.translate">${button.label}</span>
            </button>
        </ux-dialog-footer>
    </ux-dialog>
</template>
