<template>
    <ux-dialog>
        <form submit.trigger="submit()">
                <ux-dialog-header class="modal-header-danger">
                    <h4 class="modal-title">
                        <i class="fa fa-fw fa-${icon}" if.bind="icon"></i>
                        ${title}
                    </h4>
                </ux-dialog-header>

                <ux-dialog-body>
                    <div class="form-group">
                        <label for="dialogInput">
                            ${message}
                        </label>
                        <input type="text" class="form-control" value.bind="value" id="dialogInput" />
                    </div>
                </ux-dialog-body>

                <ux-dialog-footer>
                    <button type="button" class="btn btn-secondary dialog-footer-btn" click.trigger="controller.cancel()" t="dialog.button.cancel"></button>
                    <button type="submit" class="btn btn-danger dialog-footer-btn btn-raised" t="dialog.button.ok" disabled.bind="value != requiredValue"></button>
                </ux-dialog-footer>
        </form>
    </ux-dialog>
</template>
