<template>
    <ux-dialog class="${options.dialogClass}">
        <ux-dialog-header class="${options.headerClass}">
            <h4 class="modal-title">
                <i class="fa fa-fw fa-${icon}" if.bind="icon"></i>
                ${title}
            </h4>
        </ux-dialog-header>

        <ux-dialog-body>
            <div style="white-space: pre-wrap">${message}</div>
        </ux-dialog-body>

        <ux-dialog-footer>
            <button type="button" class="btn btn-secondary dialog-footer-btn" click.trigger="controller.cancel()" t="dialog.button.no" if.bind="!options.noButtonCaption"></button>
            <button type="button" class="btn btn-secondary dialog-footer-btn" click.trigger="controller.cancel()"  if.bind="options.noButtonCaption">${options.noButtonCaption}</button>
            <button type="button" class="btn btn-primary dialog-footer-btn" click.trigger="controller.ok()" t="dialog.button.yes" if.bind="!options.yesButtonCaption"></button>
            <button type="button" class="btn btn-primary dialog-footer-btn" click.trigger="controller.ok()" if.bind="options.yesButtonCaption">${options.yesButtonCaption}</button>
        </ux-dialog-footer>
    </ux-dialog>
</template>
